.aside {
  height: 100vh;
  width: 10em;
  color: #ffffffd0;
  background-color: #343a40;
  padding: 0.7em;
  &__title {
    padding: 0.4em;
    margin-bottom: 1em;
    font-weight: bold;
    border-bottom: 1px solid #ffffff74;
  }
  &__ul {
    background-color: #ffffff;
    color: #222;
    border-radius: 0.3em;
  }
  &__li {
    font-size: 0.8rem;
    padding: 0.4em;
    border-bottom: 0.0625rem solid #2222227d;
    cursor: pointer;
  }
}
